<div class="main-service">
  <div class="nav-service">
    <button (click)="navigateHome()">Home</button>
    <button (click)="navigateManga()">Manga</button>
    <button (click)="navigateAnime()">Anime</button>
    <button (click)="navigateIntroduct()">Giới thiệu</button>
    <button (click)="navigateProduct()">Sản phẩm</button>
  </div>

  <div class="content-service">
    <div class="content-item">
      <h2 style="color: #8983FC;">THU MUA SÁCH CŨ GIÁ CAO | 100% HÀI LÒNG</h2>
      <p><i>Nếu bạn đang có nhu cầu thanh lý lại một vài cuốn sách trong thư viện gia đình nhưng không biết phải tìm đến đâu thì hãy liên hệ ngay với <b style="color: #8983FC;">Nhà Sách Mạnh Trưởng</b> Đây là một địa chỉ tin cậy chuyên <b style="color: #8983FC;">thu mua sách cũ giá cao</b>, <b>mua bán sách cũ, thanh lý sách cũ, trao đổi sách</b> để giúp các bạn giải quyết vấn đề này.</i></p>
    </div>
    <div class="content-item">
      <h2 style="color: #7b75e6;">Nhu cầu mua bán sách cũ, trao đổi sách</h2>
      <p>Thông thường một cuốn sách mới sẽ được các nhà phát hành mang đến nhà sách để bày bán và cuốn sách đó sẽ được độc giả mua về. Tuy nhiên sau một thời gian dài, có thể là do quá nhiều sách hoặc dọn nhà nên người chủ sẽ có nhu cầu thanh lý sách cũ. Chủ yếu mọi người chọn cách bán sách cho đồng nát với giá giấy vụn cực kỳ rẻ.</p>
      <figure>
        <img src="../assets/Images/service1.jpg" alt="" style="width: 60%; height: 60%;">
        <figcaption><i>Những cuốn sách cũ được mua lại với giá cao</i></figcaption>
      </figure>

      <p>Sau đó các nhà sách cũ sẽ đi thu mua lại từ các cơ sở đồng nát rồi đem về bán lại. Đây là cách mà những cuốn sách mới trở thành sách cũ, dù người chủ không cần nữa nhưng lại là món đồ mà người khác đang cần tìm.</p>
      <p>Cách thức này tuy phổ biến nhưng lại người bán sách lại phải chịu thiệt vì phải mua bán quá trung gian, không nhận được số tiền xứng đáng. Thay vào đó họ nên tìm đến các cửa hàng chuyên mua bán sách cũ, thu mua sách cũ, thanh lý sách cũ thì sẽ nhận được nhiều ưu đãi hơn. Nhà sách 1068 đường Láng, Đống Đa, Hà Nội (muasachcu.vn) sẽ là một sự lựa chọn tối ưu để bạn có thể yên tâm giao dịch.</p>
    </div>
    <div class="content-item">
      <h2 style="color: #7b75e6;">Dịch vụ thu mua sách cũ giá cao</h2>
      <figure>
        <img src="../assets/Images/service2.jpg" alt="" style="width: 80%; height: 80%;"> <img src="../assets/Images/service4.jpg" alt="" style="width: 100%; height: 100%;">
        <figcaption></figcaption>
      </figure>

    </div>
    <div class="content-item">
      <h2 style="color: #7b75e6;">Nhu cầu mua bán sách cũ, trao đổi sách</h2>
      <figure>
        <img src="../assets/Images/service3.jpg" alt="" style="width: 80%; height: 80%;">
        <figcaption></figcaption>
      </figure>


    </div>
    <div class="content-item">
      <h2 style="color: #7b75e6;">Nhu cầu mua bán sách cũ, trao đổi sách</h2>
      <figure>
        <img src="../assets/Images/service4.jpg" alt="" style="width: 80%; height: 80%;">
        <figcaption></figcaption>
      </figure>


    </div>
    <div class="content-item">
      <h2 style="color: #7b75e6;">Nhu cầu mua bán sách cũ, trao đổi sách</h2>
      <figure>
        <img src="../assets/Images/service5.jpg" alt="" style="width: 80%; height: 80%;">
        <figcaption></figcaption>
      </figure>


    </div>
  </div>
</div>
