<!-- <ul>
  <li *ngFor="let item of user; index as idx; count as total; first as fst; last as lst, even as ev, odd as od">
    {{item.id}} - {{item.name}} - {{item.address.city}}
    <br>
    <span>{{idx}} of {{total}}</span>
    <br>
    <span *ngIf="fst == true">Toi la nguoi dau tien</span>
    <br>
    <span *ngIf="lst == true">Toi la nguoi cuoi cung</span>
    <br>
    <span *ngIf="ev == true">Toi la nguoi chẵn</span>
    <br>
    <span *ngIf="od == true">Toi la nguoi lẻ</span>
    <br>
  </li>
</ul> -->


<!-- <ul>
  <ng-template ngFor [ngForOf]="user" let-item let-idx="index" let-total="count" let-fst="first" let-lst="last" let-ev="even" let-od="odd">
    <li>
      {{item.id}} - {{item.name}} - {{item.address.city}}
      <br>
      <span>{{idx}} of {{total}}</span>
      <br>
      <span *ngIf="fst == true">Toi la nguoi dau tien</span>
      <br>
      <span *ngIf="lst == true">Toi la nguoi cuoi cung</span>
      <br>
      <span *ngIf="ev == true">Toi la nguoi chẵn</span>
      <br>
      <span *ngIf="od == true">Toi la nguoi lẻ</span>
      <br>
    </li>
  </ng-template>
</ul> -->

<!-- <ul>
  <ng-container *ngIf="user.length > 0; else nouser">
    <li *ngFor="let item of user; index as idx; count as total; first as fst; last as lst, even as ev, odd as od">
      {{item.id}} - {{item.name}} - {{item.address.city}}
      <br>
      <span>{{idx}} of {{total}}</span>
      <br>
      <span *ngIf="fst == true">Toi la nguoi dau tien</span>
      <br>
      <span *ngIf="lst == true">Toi la nguoi cuoi cung</span>
      <br>
      <span *ngIf="ev == true">Toi la nguoi chẵn</span>
      <br>
      <span *ngIf="od == true">Toi la nguoi lẻ</span>
      <br>
    </li>
  </ng-container>
  <ng-template #nouser>No user</ng-template>


</ul>


<button *ngFor="let it of tag; last as isLast" [class.right-margin]="!isLast">{{it}}</button> -->

<!-- <button (click)="isDang = !isDang">Dangerous</button>
<br>
<button (click)="isWarning = !isWarning">Warning</button> -->

<!-- <div class="box" [class.border-red]="isDang" [class.color-yellow]="isWarning"></div> -->

<!-- <div class="box" [class]="{'border-red': isDang, 'color-yellow': isWarning}"></div>


<div [style]="{color: 'red', backgroundColor: 'blue', fontSize: '30px'}">Tại vì  thích em nhiều quá nhưng em lại nói là à lôi</div> -->
<!-- <app-hello #toggleChecked [(checked)]="isCheck"></app-hello>
<button (click)="toggleChecked.toggle()">Toggle me</button>

<button (click)="processing = processing + 1">Increase Process</button>

<app-progress-bar></app-progress-bar>
<br>

<app-progress-bar [progress]="processing" [back-color]="'blue'"></app-progress-bar>

<app-author-list></app-author-list>

<form (ngSubmit)="showName()" #myForm="ngForm">
  <input type="text" [(ngModel)]="name1" name="name1" required>
  <input type="submit" value="submit" [disabled]="!myForm.form.valid">
</form>

<br> -->

<!-- <app-login-form></app-login-form> -->
<!-- <app-header></app-header>
<app-add-note></app-add-note>
<app-note-list></app-note-list> -->

<div id="nav-main">
  <i>
    <a href="#">
      <img src="./assets/Images/download.png" alt="logo">
    </a>
    <a href="">Freetrial4u</a>
  </i>
  <ul>
    <li>
      <a routerLink="/add-note">Home</a>
    </li>
    <li>
      <a routerLink="/note-list">Contacts</a>
    </li>
    <li>
      <a routerLink="/login-form">Login</a>
    </li>
    <li>
      <a routerLink="/author-list">Author list</a>
    </li>
    <li>
      <a routerLink="/author-detail">Author detail</a>
    </li>
    <li>
      <a routerLink="/progress-bar">Progress bar</a>
    </li>
  </ul>
  <div>
    <input type="text">
  </div>
</div>
<div id="main-content">
  <router-outlet />
</div>





