/* .right-margin {
  margin-left: 5px;
} */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}
.border-red {
  border: 5px solid red;
}
.color-yellow {
  background-color: yellow;
}

input.ng-valid {
  background-color: aquamarine;
}

input.ng-invalid{
  background-color: brown;
}
nav a{
  margin: 5px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#nav-main {
  background-color: white;
  display: flex;
  align-items: center;
}

#nav-main i {
  margin-right: 100px;
  display: flex;
  align-items: center;
}

#nav-main i a{
  color: #7e34fc;
  font-size: 30px;
}

#nav-main i img{
  width: 50px;
  height: 50px;
}

#nav-main ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#nav-main ul li {
  padding: 20px 10px;
  font-size: 20px;
}

#nav-main ul li:link{
  background-color: rgb(225, 203, 235);
}

#nav-main ul li:visited{
  background-color: rgb(225, 203, 235);
}
#nav-main ul li:hover{
  background-color: rgb(225, 203, 235);
}
#nav-main ul li:checked{
  background-color: rgb(225, 203, 235);
}

#nav-main ul li a{
  color: rgb(157, 153, 153);
}
