<div id="nav-main">
  <i>
    <a href="#">
      <img src="./assets/Images/download.png" alt="logo">
    </a>
    <a href="">Freetrial4u</a>
  </i>
  <ul>
    <li>
      <a routerLink="/home">Trang chủ</a>
    </li>
    <li>
      <a routerLink="/manga">Manga</a>
    </li>
    <li>
      <a routerLink="/anime">Anime</a>
    </li>
    <li>
      <a routerLink="/introduct">Giới thiệu</a>
    </li>
    <li>
      <a routerLink="/product">Sản phẩm</a>
    </li>
    <li>
      <a routerLink="/service">Dịch vụ</a>
    </li>
  </ul>
  <div class="input-form">
    <form action="" class="form-view">
      <input type="text" placeholder="Email hoặc sđt..." required>
      <input type="password" placeholder="Mật khẩu..." required>
      <button type="submit">Đăng nhập</button>
      <a href="">Đăng ký</a>
    </form>
  </div>
</div>
<div class="search-form">
  <form action="" class="search-form-item">
    <input class="search-input" type="text" placeholder="Tìm kiếm...">
    <a href="#">
      <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
    </a>
  </form>


</div>
