
<nav id="container" [style]="styleElement">
  <i>
    <a href="#">
      <img src="./assets/Images/download.png" alt="logo">
    </a>
    <a href="">Freetrial4u</a>
  </i>
  <ul class="main-menu">
    <li>
      <a routerLink="/home">Trang chủ</a>
    </li>
    <li>
      <a routerLink="/manga">Manga</a>
    </li>
    <li>
      <a routerLink="/anime">Anime</a>
    </li>
    <li>
      <a routerLink="/introduct">Giới thiệu</a>
    </li>
    <li>
      <a routerLink="/product">Sản phẩm</a>
      <ul class="sub-menu">
          <li><a href="">Truyện tranh</a></li>
          <li><a href="">Hoạt hình</a></li>
          <li><a href="">Phim</a>
            <ul class="sub-menu-child">
              <li><a href="">Tình cảm</a></li>
              <li><a href="">Hành động</a></li>
              <li><a href="">Kinh dị</a></li>
            </ul>
          </li>
      </ul>
    </li>
    <li>
      <a routerLink="/service">Dịch vụ</a>
    </li>
  </ul>

  <div class="input-form">
    <form action="" class="form-view">
      <button type="submit" routerLink="sign-in">Đăng nhập</button>
      <a href="" routerLink="register">Đăng ký</a>
    </form>
  </div>
</nav>

<div class="search-form">
  <form action="" class="search-form-item">
    <input class="search-input" type="text" placeholder="Tìm kiếm..." [(ngModel)]="stringSearch" name="stringSearch">
    <a (click)="contentSearch()" style="cursor: pointer;">
      <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
    </a>
  </form>
</div>



